services:
  web:
    build:
      context: ./finance_tracker
      dockerfile: Dockerfile
    container_name: django_app
    command: >
      sh -c "
      until mysqladmin ping -h db --silent; do sleep 2; done &&
      python manage.py makemigrations &&
      python manage.py migrate &&
      python manage.py collectstatic --noinput &&
      gunicorn finance_tracker.wsgi:application --bind 0.0.0.0:8000
      "
    volumes:
      - ./finance_tracker:/app
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - db

  db:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: rootpass
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
